
body
{
    width: 100vw;
    height: 100%;
    min-height:100vh;
    position: relative;
    padding-bottom: 180px;
    margin: 0px;
    padding: 0px;
    
}



*{
    margin: 0px;
    padding: 0px;
   
}

html{
    font-size: 10px;
    font-family: 'Balsamiq Sans';

}

.menuBar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(84, 56, 34);
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
}

.logo{
    font-size: 25px;
    color: white;
    padding-left: 20px;
}

.logo2{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.726);
    padding: 0px;
    padding-right: 20px;
}





#contentsA{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}


#contentsB{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background2.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#contentsC{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#contentsD{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background3.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#contentsE{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background4.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#contentsF{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background5.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#footerBar{
    width: 100vw;
    height: 180px;
    background-color: rgb(84, 56, 34);
    align-items: center;
    justify-content: center;
 
    position: absolute;
    margin: 0px;
    bottom: 0px;
}


#titleText {
    width: 300px;
    
}

#titleText p{
    font-size: 10rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
}

.imgBox{
    width: 40rem;
    overflow: hidden;
    margin-right: 5rem;
    
}

.textBox{
    font-size: 2rem;
    width: 50rem;
    color: rgb(0, 0, 0);
    padding-left: 50px;
}

.title{
    font-size: 2.8rem;
    width: 50rem;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
    font-weight: 600;
}

.videoBox{
    width: 100%;
}

#myVideo{
    width: 100%;
}

.footerTitle{
    padding-top: 40px;
    margin: auto;
    font-size: 1.6rem;
    width: 98px;
    color: white;
}

.info{
   padding-top: 10px;
    width: 416px;
    margin: auto;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.712);
}

.copyright{
    margin: auto;
    font-size: 1.1rem;
    width: 179px;
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.493);
}

@media (max-width: 768px)
{
   
    *{
        margin: 0px;
        padding: 0px;
   
    }
    
    body{
        width: 100%;
        padding-bottom: 130px;
        
    }
    
    html{
        font-size: 10px;
        font-family: 'Balsamiq Sans';
    }
    
    .menuBar{
        display: flex;
       
        background-color: rgb(84, 56, 34);
        align-items: center;
        padding: 0px;
        width: 100%;
        height: 50px;
        
    }
    
    .logo{
        font-size: 18px;
        color: white;
        padding-left: 10px;
        width: 100px;
        text-align: center;
    }

    .logo2{
        font-size: 10px;
        color: rgba(255, 255, 255, 0.5);
       width: 200px;
       padding-right: 10px;
    }
    
   
    
    
    
    
    
    #contentsA{
        width: 100%;

        background-image: url(img/background1.jpg);
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
        display: flex;
       
    
    }
    
    
    #contentsB{
        width: 100%;

        background-image: url(img/background2.png);
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
        display: flex;
        flex-direction: column;
    }
    
    #contentsC{
        width: 100%;

        background-image: url(img/background1.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
      
    }
    
    #contentsD{
        width: 100%;
  
        background-image: url(img/background3.png);
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
        flex-direction: column;
    }
    
    #contentsE{
        width: 100%;

        background-image: url(img/background4.png);
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
    }
    
    #contentsF{
        width: 100%;

        background-image: url(img/background5.png);
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
        flex-direction: column;
    }
    
    #footerBar{
        width: 100%;
        height: 130px;
        background-color: rgb(84, 56, 34);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        margin: 0px;
      
        position: absolute;
     
        bottom: 0px;
        
       
    }
    
    
    #titleText {
        width: 300px;
        
    }
    
    #titleText p{
        font-size: 5rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
    .imgBox{
        width: 15rem;
        overflow: hidden;
        margin: 0px;
        
        
    }
    
    .textBox{
        font-size: 1.2rem;
        width: 20rem;
        color: rgb(0, 0, 0);
       padding: 0px;
       margin: 0px;
       text-align: center;
    }
    
    .title{
        font-size: 2rem;
        width: 20rem;
        color: rgb(0, 0, 0);
        padding-bottom: 15px;
        padding-top: 30px;
        font-weight: 600;
        margin: auto;
    }
    
    .videoBox{
        width: 100vh;
        height: 100vw;
        transform: rotate(90deg);
    }
    
    #myVideo{
        width: 100vh;
        height: 100vw;
    }
    
    .footerTitle{
        padding-top: 20px;
        margin: 0px;
        font-size: 1.6rem;
        width: 98px;
        color: white;
    }
    
    .info{
       padding-top: 10px;
        width: 358px;
        
        margin: 0px;
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.712);
    }
    
    .copyright{
        
        font-size: 1.1rem;
        width: 179px;
        padding-top: 10px;
        padding-bottom: 20px;
        color: rgba(255, 255, 255, 0.493);
        margin: 0px;
    }
}