

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 10px;
    font-family: 'Balsamiq Sans';
}

.menuBar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(84, 56, 34);
    align-items: center;
    padding: 16px;
    width: 100%;
}

.logo{
    font-size: 25px;
    color: white;
    padding-left: 20px;
}

.logo2{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.726);
    padding-right: 20px;
}





#contentsA{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}


#contentsB{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background2.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#contentsC{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#contentsD{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background3.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#contentsE{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background4.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#contentsF{
    width: 100vw;
    height: 100vh;
    background-image: url(img/background5.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

#footerBar{
    width: 100vw;
    height: 180px;
    background-color: rgb(84, 56, 34);
    align-items: center;
    justify-content: center;
    top: 0px;
    position: absolute;
    margin-top: 5500px;
}


#titleText {
    width: 300px;
    
}

#titleText p{
    font-size: 10rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
}

.imgBox{
    width: 40rem;
    overflow: hidden;
    margin-right: 5rem;
    
}

.textBox{
    font-size: 2rem;
    width: 50rem;
    color: rgb(0, 0, 0);
    padding-left: 50px;
}

.title{
    font-size: 2.8rem;
    width: 50rem;
    color: rgb(0, 0, 0);
    padding-bottom: 10px;
    font-weight: 600;
}

.videoBox{
    width: 100%;
}

#myVideo{
    width: 100%;
}

.footerTitle{
    padding-top: 40px;
    margin: auto;
    font-size: 1.6rem;
    width: 98px;
    color: white;
}

.info{
   padding-top: 10px;
    width: 416px;
    margin: auto;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.712);
}

.copyright{
    margin: auto;
    font-size: 1.1rem;
    width: 179px;
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.493);
}

@media (max-width: 640px)
{
    body{
        width: 465px;
        height: 100vh;
        
    }
    *{
        margin: 0px;
        padding: 0px;
    }
    
    html{
        font-size: 10px;
        font-family: 'Balsamiq Sans';
    }
    
    .menuBar{
        display: flex;
        justify-content: space-between;
        background-color: rgb(84, 56, 34);
        align-items: center;
        padding: 16px;
       width: 627px;
        
    }
    
    .logo{
        font-size: 18px;
        color: white;
        padding-left: 10px;
        width: 100px;
        text-align: center;
    }
    
    .logo2{
        font-size: 10px;
        color: rgba(255, 255, 255, 0.726);
        padding: 0px;
    }
    
    
    
    
    
    #contentsA{
        width: 660px;
        height: 1188px;
        background-image: url(img/background1.jpg);
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
        display: flex;
       
    
    }
    
    
    #contentsB{
        width: 660px;
        height: 1270px;
        background-image: url(img/background2.png);
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
        display: flex;
        flex-direction: column;
    }
    
    #contentsC{
        width: 660px;
        height: 1270px;
        background-image: url(img/background1.jpg);
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
      
    }
    
    #contentsD{
        width: 660px;
        height: 1270px;
        background-image: url(img/background3.png);
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
        flex-direction: column;
    }
    
    #contentsE{
        width: 660px;
        height: 1270px;
        background-image: url(img/background4.png);
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
    }
    
    #contentsF{
        width: 660px;
        height: 1270px;
        background-image: url(img/background5.png);
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0px;
        flex-direction: column;
    }
    
    #footerBar{
        width: 660px;
        height: 180px;
        background-color: rgb(84, 56, 34);
        align-items: center;
        justify-content: center;
        top: 0px;
        position: absolute;
        margin-top: 8200px;
    }
    
    
    #titleText {
        width: 300px;
        
    }
    
    #titleText p{
        font-size: 8rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    
    .imgBox{
        width: 26rem;
        overflow: hidden;
        margin-right: 10px;
        
        
    }
    
    .textBox{
        font-size: 1.2rem;
        width: 40rem;
        color: rgb(0, 0, 0);
       padding: 0px;
       margin: 0px;
       text-align: center;
    }
    
    .title{
        font-size: 3rem;
        width: 40rem;
        color: rgb(0, 0, 0);
        padding-bottom: 15px;
        padding-top: 30px;
        font-weight: 600;
        margin: auto;
    }
    
    .videoBox{
        width: 1270px;
        height: 660px;
        transform: rotate(90deg);
    }
    
    #myVideo{
        width: 1270px;
        height: 660px;
    }
    
    .footerTitle{
        padding-top: 40px;
        margin: auto;
        font-size: 1.6rem;
        width: 98px;
        color: white;
    }
    
    .info{
       padding-top: 10px;
        width: 416px;
        margin: auto;
        font-size: 1.3rem;
        color: rgba(255, 255, 255, 0.712);
    }
    
    .copyright{
        margin: auto;
        font-size: 1.1rem;
        width: 179px;
        padding-top: 30px;
        color: rgba(255, 255, 255, 0.493);
    }
}